@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--light: #fafafa;
	--medium-bg: #a5a5a5;
	--dark-bg: #2f2f2f;
	--light-blue-color: #4d4dfa;
	--yellow-color: #dcdf36;
	--darker-color: #607386;
	--item-color: #adbdce;
	--accent-color: #42b883;
	--warn-color: #f85a40;
	--light-warn-color: #f07764;
	--dark-blue-color: #52529b;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: var(--darker-color);
	color: var(--light);
	box-sizing: border-box;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.panelClass:hover {
	z-index: 99;
	transition: all 0.2s ease;
	transform: scale(1.01);
	& > span {
		transition: all 0.2s ease;
		color: var(--accent-color);
	}
}
